PORT=4000
API_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJ2aWJodXRpLmthbndhcjI1MTBAZ21haWwuY29tIiwiZXhwIjoxNzgwNDgxNzE1LCJpYXQiOjE3ODA0ODA4MTUsImlzcyI6IkFmZm9yZCBNZWRpY2FsIFRlY2hub2xvZ2llcyBQcml2YXRlIExpbWl0ZWQiLCJqdGkiOiJhM2Y4NWEyYy1iMWEzLTRlZDAtYmVlNi0zYzc2Mjg4MThmYjEiLCJsb2NhbGUiOiJlbi1JTiIsIm5hbWUiOiJ2aWJodXRpIiwic3ViIjoiNzU1MGM5YzQtNTUyNC00YzAxLTlmOTItYmJiYzUzNjI1MjUwIn0sImVtYWlsIjoidmliaHV0aS5rYW53YXIyNTEwQGdtYWlsLmNvbSIsIm5hbWUiOiJ2aWJodXRpIiwicm9sbE5vIjoiMjMzMDY2MyIsImFjY2Vzc0NvZGUiOiJud3dzS3giLCJjbGllbnRJRCI6Ijc1NTBjOWM0LTU1MjQtNGMwMS05ZjkyLWJiYmM1MzYyNTI1MCIsImNsaWVudFNlY3JldCI6IlRiRXVRZ2Z3dmthTVd5UEIifQ.8tNyaatGNfm6_4J4jOjtGmqUR4WBjeyQlPo5qZx2k6U"
